<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <meta name="author" content="Dmitriy Chernyshov">

    <title>Kashimashi</title>

    <%= if Mix.env == :dev do %>
    <link rel="stylesheet" href="http://localhost:3000/css/style.css">
    <% else %>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/style.css") %>">
    <% end %>
  </head>

  <body>
    <div id="root"></div>
    <%= if Mix.env == :dev do %>
      <script crossorigin src='http://localhost:3000/js/app.js'></script>
    <% else %>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <% end %>
  </body>
</html>
